<html>
  <head>
    <title>Stocks Profitfy</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  </head>
  <body style="padding: 20px; width: 80%; margin: 0 auto; font-family: 'Roboto', sans-serif;">
    <h1>Stocks Profitfy</h1>
    <hr>
    <h2 style="color: green;">Results</h2>
    <section style="border: 1px solid grey; border-radius: 10px; padding: 10px; margin-bottom: 10px;">
      <h3>Total Costs ($)</h3>
      <p>$<%= @results[:costs] %></p>
    </section>
    <section style="border: 1px solid grey; border-radius: 10px; padding: 10px; margin-bottom: 10px;">
      <h3>Proceeds ($)</h3>
      <p>$<%= @results[:proceeds] %></p>
    </section>
    <section style="border: 1px solid grey; border-radius: 10px; padding: 10px; margin-bottom: 10px;">
      <h3>Profit ($)</h3>
      <p>$<%= @results[:profit] %></p>
    </section>
    <section style="border: 1px solid grey; border-radius: 10px; padding: 10px; margin-bottom: 30px;">
      <h3>Cumulative Return (%)</h3>
      <p><%= @results[:cumulative_return] %>%</p>
    </section>
    <section style="border: 1px solid grey; border-radius: 10px; padding: 10px; margin-bottom: 30px;">
      <h3>Annualized Return (%)</h3>
      <p><%= @results[:annualized_return] %>%</p>
    </section>
    <div>
      <a href="/">Return to home</a>
    </div>
  </body>
</html>
